@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

/*font-family: 'Lobster', cursive;*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lobster", cursive;
}

/* imports*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: linear-gradient(145deg, rgba(226,91,91,1) 1%, rgba(214,93,227,1) 100%); */
    background-color: #FF7F3F;
    color: #fff;
    height: 70px;
    padding: 15px 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav {
    display: flex;
    list-style: none;
}

.nav-item {
    margin-left: 35px;
}

.nav-item a {
    color: #000000;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    /* border: solid; */
    padding: 10px 30px;
    border-radius: 10px;
    /* transition: background-color 0.7s ease;
transition: padding 0.5s ease-in-out; */
    transition: all 0.3s ease-in-out;
}

.nav-item a:hover {
    /* background:  rgb(119, 98, 255) ; */
    background-color: #ab5225;
    padding: 13px 40px;
    color: #fff;
    font-weight: 600;
}

button {
    display: none;
}

@media screen and (max-width: 700px) {
    .navbar-menu {
        display: none;
        position: relative;
        top: 140px;
        right: -13px;
        border-radius: 9px;
        width: 30%;
        background-color: #333;
        padding: 10px 20px;
    }

    .navbar-header {
        display: flex;
        justify-content: space-between;
    }

    .ano2 {
        position: absolute;
        right: 17px;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
    }

    .navbar-menu.active {
        display: block;
    }

    .navbar-toggle {
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-right: 20px;
    }

    .navbar-toggle .icon-bar {
        display: block;
        width: 25px;
        height: 3px;
        border-radius: 2px;
        margin: 5px 0;
        background-color: #fff;
    }

    .nav-item {
        margin: 10px 20px;
    }

    .nav-item a:hover {
        color: var(---white);
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 540px) {
    .navbar-menu {
        display: none;
        position: relative;
        top: 140px;
        right: -13px;
        border-radius: 9px;
        width: 60%;
        background-color: #333;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 350px) {
    .navbar-menu {
        display: none;
        position: relative;
        top: 134px;
        right: -13px;
        border-radius: 9px;
        width: 65%;
        background-color: #333;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 265px) {
    .navbar-menu {
        display: none;
        position: relative;
        top: 134px;
        right: -13px;
        border-radius: 9px;
        width: 60%;
        background-color: #333;
        padding: 10px 20px;
    }
}